/*Position 
    z-index
*/
/*Position z-index*/

.box{
   width: 100px;
   height: 100px;
   text-align: center;
   line-height: 100px;
   position: relative;
}

.box1{
   background: cornflowerblue;
   z-index: 4;
}

.box2{
   background: crimson;
   top: -50px;
   left: 50px;
   z-index: 2;
}

.box3{
   background: coral;
   top: -100px;
   left: 100px;
   z-index: 3;
}
