/*Position 
    Relative
    Absolute 
    Fixed
    Stiky
    z-index
*/
/*Position relative*/
.box-1{
    background: aqua;
    width: 200px;
    height: 200px;
    border: solid 2px #000;
    margin: 2em;
    position: relative;
    left: 30px;
    top: 30px;
    bottom: -1000px;
    right: -1000px;
}